* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #484848;
  background-color: #ffffff;
  letter-spacing: .1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

section {
  margin: 150px 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #008489;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

h2 {
  font-size: 60px;
  font-weight: 900;
  color: #333333;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 1028px) {
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 743px) {
  h2 {
    text-align: left;
  }
}

h3 {
  font-size: 24px;
  font-weight: 800;
  margin: 15px 0;
}

hr {
  border: 1px solid #484848;
  width: 65px;
}

@media (max-width: 743px) {
  hr {
    text-align: left;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  line-height: 80px;
}

@media (max-width: 1028px) {
  header {
    display: none;
  }
}

header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
}

header .header-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-left ul li {
  padding: 0 15px;
}

header .header-left ul li .list {
  color: #484848;
}

header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 50px;
}

header .header-right .right-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top-wrapper {
  background-image: url(../Airbnb.image/fe406606-ff51-4b7f-8095-16f2c720bb03.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  position: relative;
}

@media (max-width: 1028px) {
  #top-wrapper {
    height: 280px;
  }
}

#top-wrapper .responsive-img {
  display: none;
  z-index: 1;
}

@media (max-width: 1028px) {
  #top-wrapper .responsive-img {
    display: block;
    padding-top: 50px;
    padding-left: 30px;
  }
}

#top-wrapper h1 {
  display: none;
}

@media (max-width: 1028px) {
  #top-wrapper h1 {
    display: block;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 80px;
  }
}

#side {
  background-color: #fff;
  max-width: 460px;
  position: absolute;
  top: 60px;
  right: 90px;
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
}

@media (max-width: 1028px) {
  #side {
    display: none;
  }
}

#side .select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#side .select-box .select-room {
  width: 60%;
}

#side .select-box .select-np {
  width: 40%;
}

#side .fs {
  font-size: 40px;
}

#side .fs span {
  font-size: 14px;
}

#side button {
  width: 100%;
}

.side-box-2 {
  max-width: 100%;
  margin-top: 10px;
  display: none;
}

.side-box-2 .select-room {
  margin: 10px 0;
}

.side-box-2 .fs {
  font-size: 40px;
}

.side-box-2 .fs span {
  font-size: 14px;
}

.side-box-2 button {
  max-width: 100%;
}

@media (max-width: 1028px) {
  .side-box-2 {
    display: block;
  }
}

#why
#hosting
#answer {
  max-width: 100%;
}

#why
#hosting
#answer .icon {
  background-image: url(../Airbnb.image/900ece61-6575-4532-873e-9f908f625f88.jpg);
  background-position: center;
  background-size: cover;
  height: 580px;
  width: 100%;
}

#safe .mg {
  margin-bottom: 30px;
}

#safe .fas {
  margin-right: 10px;
  color: #008489;
}

#brake {
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 1028px) {
  #brake {
    max-width: 100%;
  }
}

#brake .brake-time {
  background-image: url(../Airbnb.image/900ece61-6575-4532-873e-9f908f625f88.jpg);
  background-position: center;
  background-size: cover;
  height: 580px;
  width: 100%;
}

@media (max-width: 1028px) {
  #brake .brake-time {
    height: 500px;
  }
}

#practice img {
  width: 100%;
}

@media (max-width: 1028px) {
  #practice img {
    width: 100%;
  }
}

#practice i {
  color: #fdb32b;
}

@media (max-width: 1028px) {
  #practice i {
    font-size: 20px;
  }
}

#practice .fs {
  font-size: 36px;
}

@media (max-width: 1028px) {
  #practice .fs {
    font-size: 18px;
  }
}

#world {
  text-align: center;
}

@media (max-width: 743px) {
  #world p {
    text-align: left;
  }
}

#world .statistics {
  font-size: 60px;
  font-weight: 400;
}

@media (max-width: 1028px) {
  #world .statistics {
    font-size: 40px;
  }
}

#question ul {
  padding: 0;
}

@media (max-width: 743px) {
  #question ul {
    text-align: left;
  }
}

#question ul li {
  font-size: 18px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

#information .img-1 {
  width: 100%;
  height: 175px;
  background-image: url(../Airbnb.image/62a108b0-8ce8-44e2-902b-61c2cf165e06.jpg);
  background-size: cover;
}

@media (max-width: 1028px) {
  #information .img-1 {
    margin-top: 30px;
  }
}

#information .img-2 {
  width: 100%;
  height: 175px;
  background-image: url(../Airbnb.image/30e3a721-5f76-4138-92b3-ebf7618bae52.jpg);
  background-size: cover;
}

@media (max-width: 1028px) {
  #information .img-2 {
    margin-top: 30px;
  }
}

#information .img-3 {
  width: 100%;
  height: 175px;
  background-image: url(../Airbnb.image/eeeb36d0-f455-4300-b51a-e5be083e9cdd.jpg);
  background-size: cover;
}

@media (max-width: 1028px) {
  #information .img-3 {
    margin-top: 30px;
  }
}

#information p {
  margin: 0;
  font-size: 14px;
}

#information a {
  font-size: 14px;
}

#listing {
  background-image: url(../Airbnb.image/5e2dc3dd-9b87-4099-92ff-d504a86ca00d.jpg);
  background-size: cover;
  width: 100%;
  height: 440px;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 1028px) {
  #listing {
    width: 100%;
  }
}

#listing .listing-text {
  color: white;
  position: absolute;
  top: 95px;
  left: 120px;
}

@media (max-width: 743px) {
  #listing .listing-text {
    left: 50px;
  }
}

#listing .listing-text p {
  font-size: 60px;
  font-weight: 700;
}

@media (max-width: 743px) {
  #listing .listing-text p {
    font-size: 38px;
  }
}

#listing .listing-text button {
  background-color: #fff;
}

.border {
  margin: 60px 0;
  border: 1px solid #d1d1d1;
}

@media (max-width: 1028px) {
  .border {
    display: none;
  }
}

@media (max-width: 743px) {
  .border {
    display: none;
  }
}

@media (max-width: 1028px) {
  .under {
    display: none;
  }
}

.under .contact-form .form-title {
  margin-bottom: 15px;
}

.under .contact-form li {
  font-size: 14px;
}

.under .contact-form li a {
  color: #767676;
}

.under .contact-form li i {
  padding: 0 5px;
}

footer {
  border-top: 1px solid #d1d1d1;
  width: 100%;
  margin: 20px auto;
  padding-top: 20px;
  font-size: 14px;
}

footer .footer-all {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-all .footer-left .footer-icon {
  margin: 20px 5px 0 0;
}

footer .footer-all .footer-left a {
  color: #484848;
}

footer .footer-all .footer-right {
  text-align: right;
}
/*# sourceMappingURL=style.css.map */