@charset 'utf-8';

* {
    box-sizing: border-box;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
    font-size: 14px;
    color: #353636;
    width:100%;
    height: auto;
    margin: 0;
    padding: 0;
}

li, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    padding: 0 40px;
    background-color: #fff;
}

// header

header {
    margin-bottom: 30px;

    .inner {
        margin-top: 15px;
        padding: 15px　0;
        display: flex;
        justify-content: space-between;
    }
}

.header-left {
    
    img {
        margin-top: 10px;
    }
}

.header-right {

    ul {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;

        li {
            margin: 10px 13px 0 0;
            padding: 0 13px 0 0; 
            border-right: 1px solid #b5b5b5;
            font-size: 13px;
            height: 20px;

            a {
            color: #333333; 
            }
        }

        .button {
            padding: 10px 15px;
            margin-top: 0;
            border: 1px solid #b5b5b5;
            height: 40px;
        }
    }
}

// header end


// contents

.contents {
    width: 100%;
    margin-bottom: 15px;

    .product {
        position: relative;
        margin-bottom: 20px;

        img {
            text-align: center;
            width: 100%;
        }

        .product-text-1 {
            position: absolute;
            top: 130px;
            left: 130px;
            font-size: 19px;
            font-weight: 700;

            span {
                border: 1px solid #353636;
                padding: 0 5px; 
            }
        }

        .product-text-2 {
            position: absolute;
            top: 140px;
            left: 130px;
            font-size: 36px;
            font-weight: 700;

            span {
                font-size: 16px;
            }
        }

        .product-text-3 {
            position: absolute;
            top: 210px;
            left: 130px;
            font-size: 18px;
            font-weight: 700;
            color: #ff0000;
            background-color: #fff;
            padding: 2px 11px 1px 11px; 
            border-radius: 20px;
            
            span {
                font-size: 22px;
            }
        }

        .product-button {
            width: 200px;
            height: 75px;
            background-color: #006c13;
            border-radius: 10px;
            position: absolute;
            top: 190px;
            left: 330px;
            display: block;
            margin: 0;

            .fas {
                color: #fff;
                font-size: 17px;
                margin-right: 5px;  
            }

            a {
                color: #fff;
                font-weight: 700;
                font-size: 17px;
            }
        }

    }
}

// contents end


// services

.services {
    width: 100%;
    
    img {
        width: 100%;
    }
}

// services end


// four

.four {
    margin-top: 30px;   
    width: 100%;

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;

        &:nth-child(1) {
            font-size: 12px;
            background-color: rgb(209, 208, 208);
        }


        tr, th, td {
            border: 1px solid #333333;
        }

        tr {
            width: 150px;
            height: 105px;


            

            &:nth-child(2) {
                font-size: 14px;
            }

            .td-title {
                font-size: 16px;
            }

            td {
                width: 200px;  
                padding: 20px 0; 

                &:not(:nth-child(1)) {
                    background-color: rgb(241, 241, 217);

                }

                .details {
                    color: #000;
                    font-size: 14px;
                    background-color: #FFF7D6;
                    margin-bottom: 10px;
                }

                span {
                    color: #ff0000;
                    font-size: 32px;
                    font-weight: 700;
                }
                
                img {
                    width: 34px;
                }

                p {
                    margin: 10px 0; 
                    padding-left: 30px;
                }

                .product-button {
                    width: 175px;
                    height: 40px;
                    margin: 0;

                    a {
                        background-color: #006c13;
                        font-size: 17px;
                    }
                }

                small {
                    font-size: 12px;
                    font-weight: 700;
                }
            }

        }
    }

    .note {
        font-size: 12px;
        margin-top: 20px;
    }
}

// four end


// performance

.performance {
    width: 100%;

    h1 {
        font-size: 34px;
        font-weight: 400;
        color: #ffffff;
        background-color: #FDBB30;
        border-radius: 5px;
        padding: 10px;
    }

    h2 {
        font-size: 34px;
        font-weight: 400;
        color: #ffffff;
        background-color: #0085c6;
        border-radius: 5px;
        padding: 10px;
        margin-top: 60px;   
    }

    .evaluation {
        width: 100%;
    }

    .scroll {
        text-align: right;
        margin-bottom: 20px;

        a {
            color: #ff0000;
            font-size: 14px;
        }
    }
}

dl {
    display: flex;

    figure {
        z-index: 2;

        img {
            z-index: 2;
        }
    }

    .performance-text {

        :nth-child(1) {
            width: 100%;
            font-size: 28px;
            font-weight: 700;
            border-bottom: 1px solid #FDBB30;
            padding-bottom: 10px;
            margin-bottom: 0;
            z-index: -200;

            span {
                font-size: 40px;
                font-weight: 700;
                border: none;
            }
        }

        :nth-child(2) {
            font-size: 20px;
            z-index: -200;
            margin: 10px 0 0 0;
        }

        :nth-child(3) {
            font-size: 12px;
            font-weight: 400;
            z-index: -200;
        }
    }
}


.product-button {
    width: 100%;
    height: 75px;
    background-color: #006c13;
    border-radius: 10px;
    margin: 50px auto;

    .fas {
        color: #fff;
        font-size: 17px;
        margin-right: 5px;  
    }

    a {
        color: #fff;
        font-weight: 700;
        font-size: 17px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    border-top: 1px solid #e4e4e4;

    .footer-left {

        ul {
            padding: 0;
            display: flex;

            li {
                margin-right: 10px;
                padding-right: 10px;
                border-right: 1px solid #555;
                height: 20px;
                
                a {
                    color: #555;
                }
            }
        }

        :nth-child(3) {
            color: #999999;
            font-size: 11px;
        }

        :nth-child(4) {
            margin-bottom: 20px;
        }

    }
}